* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 10px;
  background: #000;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #252525;
;
  border-radius: 0px;
}

.padre-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  padding-right: 30px;
  padding-left: 10px;
}

li {
  list-style: none;
}

/*HOME*/

.mobile {
  display: none;
}

header p {
  color: #848484;
}

header nav ul li a {
  font-family: "Open Sans", sans-serif;
  color: #b4b4b4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
}

header nav ul li {
  margin-right: 30px;
}

.back-home {
  background: url("../imagenes/fondo-header_03.jpg");
  min-height: 80vh;
  background-size: cover;
  background-position: center;
}

.back-works {
  background: url("../imagenes/fondo_header_trabajos.jpg");
  min-height: 80vh;
  background-size: cover;
  background-position: center;
}

.back-qhacemos {
  background: url("../imagenes/fondo_head.jpg");
  min-height: 80vh;
  background-size: cover;
  background-position: center;
}

header .contenedor {
  width: 75%;
  margin: auto;

}
/*
nav ul {
  padding-top: 40px;
  display: inline-block;
}*/

a {
  text-decoration: none;
}

.titulo1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.7rem;
}

.titulo2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 1rem;
  position: relative;
  top:-20px;
}

.titulo3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 1rem;
  position: relative;
  top:-40px;
}

.position_right {
  position: relative;
  left: 3px;
}

.leyenda {
  position: relative;
  top:-20px;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

/*
.leyenda p {
    font-size: 1.5rem;
}*/


p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

section .contenedor h2 {
  margin-top: 30px;
}

.rigt {
  text-align: right;
}

h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  letter-spacing: 0.6rem;
  line-height: 5.5rem;
}

.hdos {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.6rem;
  line-height: 5.5rem;
}

h3 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 4px;
  color: grey;
}

.bajada {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  color: #848484;
  font-weight: 600;
}

.titulo-02 {
  font-weight: bold;
  font-size: 3.5rem;
  color: rgb(51, 51, 51);
}

/*Sombra para div*/
.elemento {
  -webkit-box-shadow: 0px 0px 15px -2px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 15px -2px rgba(148,148,148,1);
  box-shadow: 0px 0px 15px -2px rgba(148,148,148,1);
}

header .contenedor .estudio {
  max-width: 40%;
  display: inline-block;
  position: center;
}
/*
.astro {
  background: url("../imagenes/astro_01.png");
  height: 400px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50%;
  background-size: cover;
}

.menu {
  display: inline-block;
}*/

.size {
  width: 28px;
  margin-right: 15px;
}

.menu_position {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding-top: 15px;*/

}

.logo {
  margin: 40px;
}

.clientes {
  display: flex;
  margin: 50px 0px 50px 0px;
}

.worksrecientes {
  margin-top: 120px;
}

.contactanos {
  justify-content: center;
  width: 30%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

button a {
  text-decoration: none;
  color: white;
}

section .contac {
  margin: 40px 40px 40px 40px;
}


.worksrecientes__mokups {
  line-height: 0;
}

/* TRABAJOS*/

.dad-flex {
  display: flex;
  flex-wrap: wrap;
}

.muestra {
  width: 25%;
 
}

section .contenedor {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 120px;
  justify-content: space-between;
}

section .contenedor__reverse {
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  margin: auto;
  margin-top: 120px;
  justify-content: space-between;
}

.mockups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section .trabajos ul li {
  width: 25%;
  height: 25%;
  object-fit: contain;
}

section .trabajos {
  width: 80%;
  margin: auto;
}

.descripcion {
  display: flex;
}

.parrafo {
  margin-left: 20px;
}

.parrafo2 {
  margin-right: 20px;
}

.cont_img {
  width: 40%;
}

.bloque {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15%;
  padding-top: 60px;
  width: 40%;
}

.bloq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15%;
  padding-top: 60px;
  text-align: right;
  width: 40%;
}

.zoom img {
   transition: all 500ms ease;
   width: 100%;
   opacity: 80%;
}

.zoom:hover img {
  transform: scale(0.95);
  opacity: 100%;
}


/*CONTACTO*/

.contenedor {
  width: 80%;
  margin: auto;
}

.sinpadd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mrtop {
  margin-top: 80px;
}

.mrtop30 {
  margin-top: 30px;
}

.mrtop20 {
  margin-top: 20px;
}

.mrbott {
  margin-bottom: 30px;
}

.contac {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 60px;
}

section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 50%;
}

.direccion {
  width: 40%;
}

form .but {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #333;
  padding: 8px 22px;
  line-height: normal;
  font-size: 15px;
  height: 48px;
  border-radius: 3px;
  width: 97%;
  outline: none;
  margin-bottom: 15px;
  transition: all 500ms ease;
}

form .but:focus {
  border-color:  #EB0D33;
  width: 100%;

}

form textarea {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #333;
  padding: 8px 22px;
  line-height: normal;
  font-size: 15px;
  border-radius: 3px;
  width: 97%;
  outline: none;
  margin-bottom: 15px;
  transition: all 500ms ease;
}

form textarea:focus {
  border-color:  #EB0D33;
  width: 100%;

}

.boton {
  background-color: #EB0D33 ;
  border-radius: 50px;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  width: 97%;
  height: 48px ;
  border: none;
  transition: all 500ms ease;
}

.boton:hover {
  width: 100%;
}

/*QUE HACEMOS?*/

.servicios {
  width: 80%;
  margin: auto;
}

.veinte {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 23%;
  align-items: center;
  text-align: center;
}

.hacemos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px;
}

.video {
  margin-bottom: 120px;
}

.centro {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*ESTUDIO*/

.nosotros {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.nosotros2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mitad {
  width: 50%;
  margin: auto;
}

.mitad2 {
  width: 50%;
  margin: auto;
  text-align: right;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.line_h {
  line-height: 0;
}

section .mitad p {
  width: 70%;
  margin-left: 8rem;
}

/*FOOTER*/

footer {
  display: flex;
  background: rgb(28, 28, 28);
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;
}

footer ul li {
  display: inline-block;
}

.resise {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MOBILE */

@media (max-width: 768px) {
    .pc {
    display: none;
    
  }

  .mobile {
    display: unset;
  }

    .menu_position {
      display: none;
    }
    .mrtop {
      margin-top: 30px;
    }

    .titulo1 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        letter-spacing: 0.7rem;
        position: relative;
        top: 0px;
        padding-top: 220px;
    }
    .titulo2 {
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        letter-spacing: 0.7rem;
        position: relative;
        top: -10px;
    }
    .titulo3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        letter-spacing: 0.7rem;
        position: relative;
        top: -20px;
    }

    .bajada {
      font-size: 1rem;
    }

    header .mrtop20 {
      margin: 0;
    }

    header p {
      margin-top: 13px;
      color: rgb(238, 238, 238);
      font-size: 1rem;
    }

    .back-home {
      min-height: 100vh;
        background-size: cover;
        background-position: 800px;
    }

    .padre-flex {
        display: flex;
        /* flex-wrap: nowrap; */
       /*  justify-content: space-between; */
        align-content: center;
    }
    header .contenedor {
      width: 75%;
      text-align: center;
    }

    section .contenedor {
     /*  display: inline-block; */
      flex-direction: column-reverse;
      margin: 0px;
      width: 100%;
    }

    section .contenedor h2 {
      font-size: 3rem;
      line-height: 3rem;
    }

    .descripcion {
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
    }

    .parrafo {
      width: 100%;
      margin-right: 20px;
      margin-left: 0;
      text-align: left;
      margin-top: 15px;
    }

  h2 {
      font-size: 3rem;
      line-height: 3rem;
  }

  .bloque {
    width: 80%;
    margin: auto;
    padding-top: 15px
    }

  .bloq {
    width: 80%;
    margin: auto;
    padding-top: 15px
  }

  .cont_img {
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }

  .logo {
    margin: auto;
    display: inline-block;
    margin-top: 50px;
  }

  .resise {
    /* width: cover;
    height: 100%; */
    object-fit: cover;
    text-align: center;
  }

  .align_izquierda {
    text-align: left;
  }

  .mockups {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  section .trabajos ul li {
    width: 50%;
  }
  section h3 {
    display: none;
  }
  .boton {
    background-color: #EB0D33 ;
    border-radius: 15px;
    text-align: center;
    position: relative;
    font-weight: 500;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
   /*  width: 50%; */
    height: 22px ;
    border: none;
    transition: all 500ms ease;
  }

}


